// Sass styles for Hour Tracker
/* Hour Tracker Styles */
$box-dark: #666;
$box-light: #ccc;

/* Standard styles for the containers
@mixin boxes {
	width: 50%;
	height: 50em;
	h2{
		color: $box-dark;
	}
}
*/

.container-fluid {
	margin-top: 1%;
	height: 80%;
	width: 80%;
}
/* Curvy input boxes ftw */
input {
	border-radius: 5px;
	text-align: center;
}

/* Use the mixin we made above for the boxes
#day-section {
	@include boxes;
}

#total-section {
	@include boxes;
}
*/